.header-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 -15px;
  align-items: center;
}
.logo, .current-date, .header-input {
  margin: 0 15px;
}
.logo {
  font-size: 48px;
  font-weight: 500;
  color: rgba(255, 127, 80, 0.8);
}

.current-date {
  font-size: 32px;
  color: grey;
  font-weight: 300;
  &:hover {
    border-bottom: 1px solid grey;
  }
}
.header-input {
  display: flex;
  justify-content: space-around;
  
  input {
    border: 1px solid rgba(255, 127, 80, 0.8);
    border-radius: 5px 0 0 5px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: grey;
    &:hover {
      border: 1.5px solid rgb(255, 127, 80, 0.8);
      box-shadow: 0 0.5px 1px 0 rgba(128, 128, 128, 0.5);
      transition: 0.1s;
      transform: scale(1.01);
    }
    &:focus {
      outline: 0;
    }
    padding: 3px 0;
    text-indent: 5px;
  }
  button {
    width: 100px;
    background-color: coral;
    border: none;
    border-radius: 0 5px 5px 0;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: rgb(255, 226, 226);
    padding: 3px 0;
    &:hover {
      transition: 0.2s;
      transform: scale(1.01);
    }
    &:active{ 
      transition: 0.1s;
      transform: scale(0.99);
    }
  }
}
header {
 padding: 20px 0;
 border-bottom: 1.5px solid rgba(255, 127, 80, 0.8);
}